.row {
    background: #3E555B;
    border-radius: 5px;
}

/* .container {
    width: 70%;
} */

.row:not(:last-child) {
    margin-bottom: 10px;
}

/* .container div {
    border: 1px solid black;
} */

.checkpoint {
    margin: auto;
}

.photo, .price {
    padding: 0px;
}

.photo img {
    width: 150px;
}

.name, .price {
    text-align: center;
    margin: auto;
}

button {
    /* display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none; */

    color: black;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #4CC695;
    color: white;
}

 .minus_btn, .plus_btn {
    color: black;
    padding: 0;
    margin: auto;
    padding: 0 5px;
}

.delete_btn {
    margin: auto;
}

.text_field {
    margin: auto;    
}

.text_field input {
    width: 30px;
    color: black;
    border-radius: 0px;
}

.total_container {
    background: transparent;
}

.total {
    width: auto;
    margin-left: auto;
    padding: 10px;
    background: #3E555B;
    border-radius: 5px;
}