* {
    padding: 0;
    margin: 0;
    /* background: #20292d; */
}

body {
    background: #2D3A40;    
}


a, a:visited {
    color: white;
}

a:hover {
    color: gray;
}

* {
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: 50px;
}

.wrapper div {
    margin: auto;
}

header .wrapper {
    width: 70%;
    margin: 10px auto;

}

header ul {
    list-style: none;
    text-align: center;
}

header li {
    display: inline;
    text-align: center;    
}

.usermenu {
    margin-left: auto;
}

.usermenu ul li {
    display: inline-flex;
}

.vk-logo {
    width: 30px;
}

.vk-logo a {
    line-height: 35px;
}

.vk-logo img {
    width: 30px;
    padding: auto;
}

.body_wrapper {
    width: 60%;
    margin: 0 auto;
}



