.hello-text {
    text-align: center;
    font-weight: bold;
}

.items_cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    /* display: inline-block; */
    /* flex-direction: column; */
    width: 30%;   
    margin: 5px;
    /* border: 1px solid black; */
}

.item .photo {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.item .photo img {    
    width: initial;
    height: 170px;
}

.item_info {
    /* height: 100px; */
    background: #3E555B
}

.text {
    padding: 20px 10px;
}

.text .title {
    font-size: 1.3em;
}

.text .description {
    color: #B9CDD6;
    padding-top: 5px;
    font-size: 0.9em;
}

.item .buy_container {
    width: 90%;
    margin: 0 auto;
    background: transparent;

}

.item .buy_field {
    width: 40px;
    height: 40px;
    line-height: 45px;
    border-radius: 100px;

    background: #4CC695;

    text-align: center;
    
    margin-left: auto;
    margin-top: -20px;
    
} 

.item a, .item a:visited {
    text-decoration: none;
}

.item .price-container {
    width: 250px;
    background: transparent;
    margin-left: -20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.item .price  {
    width: 70px;
    height: 20px;
    border-radius: 100px; 

    background: white;
    color: #2D3A40;
    
    line-height: 20px; 
    font-size: 0.7em;
    text-align: center;
    
}

.item .buy_field img {
    width: 20px;
}