{% extends "base.html" %}
{% load static %}

{% block head_css %}    
    <link rel="stylesheet" href="{% static 'css/product/products.css' %}">
{% endblock %}

{% block body %}
Choose your product
    <div class="items_cell">        
        {% for product in product_list %}
            <div class="item">
                <p>{{ product.name }}</p>

                
                
                    {% static "" as path_to_static %}
                    <img src="{{ product.photo.url }}" alt="">
                
                <br>
                <p>{{ product.desctiption }}</p>
                <br>
                <p>type: {{ product.type_product }}</p>

            </div>
        {% endfor %}  
    </div>
    
{% endblock %}