{% extends "base.html" %}
{% load static %}

{% block head_css %}    
    <link rel="stylesheet" href="{% static 'css/product/products.css' %}">
{% endblock %}

{% block body %}
    <div class="hello-text">
        Choose your product
    </div>
    <div class="items_cell">        
        {% for product in product_list %}
            <div class="item">
                <div class="photo">
                    <img src="{{ product.photo.url }}" alt="">
                </div>              
                <div class="item_info">
                    <div class="text">
                        <div class="title">
                            {{ product.name }}
                        </div>

                        <div class="description">
                            {{ product.desctiption }}
                        </div>
                        
                        <div class="price-container">
                            <div class="price">
                                {{ product.price }} {{ product.currency }}
                            </div>
                        </div>
                    </div>
                    
                </div>      
                <div class="buy_container">
                    <div class="buy_field">
                        <a href="/shoping_cart/add_{{ product.id }}"><img src="{% static 'images/shopping_cart.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        {% endfor %}  
    </div>
    
{% endblock %}